<%= render 'regular_information', title: "Task info" %>
<%= render partial: "main_information", locals: { task: @task } %>
<div class="row">
  <div class="col-12 text-center">
    <strong>Tasks</strong>
  </div>
</div>
<% if current_user.admin? %>
<div class="row mb-2">
  <div class="col-12">
    <%= link_to "New User", new_task_path, class: "btn btn-outline-success btn-sm btn-block" %>
  </div>
</div>
<% end %>

  <% @tasks=current_user.tasks.where(project: @project) %>
  <% if @task.users.empty? %>
  <div class="row">
    <div class="col-12 text-center">
      Users not exist for this task
    </div>
  </div>
  <% else %>
  <% @task.users.each do |user| %>
    <div class="row mb-2">
      <div class="col-10">
        <%= "#{user.first_name} #{user.last_name} #{user.email}" %>
      </div>
      <% if current_user.admin? %>
      <div class="col-1">
          <%= link_to "Show", task_user_path(@task, user), class: "btn btn-outline-info btn-sm btn-block" %>
      </div>
      <div class="col-1">
          <%= link_to 'Unsubscribe', delete_join_user_path(@task, user), method: :delete,  userdata: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
      </div>
      <% end %>
  </div>
  <% end %>
<% end %>
  <div class="row">
    <div class="col-12 text-center">
      <%= link_to 'Back', project_path(@task.project), class: "btn btn-outline-dark my-2 my-sm-0" %>
    </div>
  </div>
