<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>

  <strong>Tasks</strong>
  <p><%= link_to 'New Task', new_task_path %></p>
  <% @tasks=current_user.tasks.where(project: @project) %>
  <% if @tasks.empty? %>
    <p><strong>Tasks not exist for this project</strong></p>
  <% else %>
    <% @tasks.each do |task| %>
      <p><%= task.title %>
      <p><%= task.description %>
      <p><%= task.status.title %>
      <p><%= link_to 'Show', task_path(task) %>
      <p><%= link_to 'Edit', edit_task_path(task) %>
      <p><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
